body {
    background-color: black;
    color: yellow;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 5rem auto;
    background-color: #111;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

input,
textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.scroll {
    position: relative;
    height:100vh;
    overflow: hidden;
    perspective: 400px;
}

.scroll-container {
    position: absolute;
    bottom: -100%;
    width: 100%;
    transform-origin: bottom center;
    text-align: center; 
    white-space: pre-line;
    font-size: 2rem;
    border: 1px solid red;
}

.scroll-container.animate {
    animation: scroll 30s linear forwards;
    color: yellow;
}

@keyframes scroll {
    0% {
        transform: rotateX(20deg) translateY(50%);
        font-size: 2rem;
    }
    80% {
        transform: rotateX(20deg) translateY(0%);
        font-size: 1rem;
    }
    100% {
        transform: rotateX(20deg) translateY(-100%);
        font-size: 0.5rem;
    }
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}